
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/bootstrap.css"> 
    <link rel="stylesheet" href="/css/main.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WEB322 – Assignment 4 - Shreya Adhikari</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items/add">Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h2>About</h2>
                <p>Hello All, 
                    I am a student currently enrolled in Seneca Newnham Campus. 
                    I am pursuing Diploma in Computer Programming. This webpage is my project 
                    for the course WEB322. I will be updating the webpage soon. For now, in this page, 
                    you can navigate through different items in different categories, view 
                    details about each item, and also add new items.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; Shreya Adhikari. All rights reserved.</p>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>