<div class="row">
    <div class="col-md-12">
        <h2>About my page</h2>
        <p>Welcome to my online store project! Created for the WEB322 course assignments, this 
           project allows to explore a diverse range of products across various categories. 
           You can view detailed descriptions for each item and even contribute by adding 
           new products to the shop inventory. This application highlights the integration 
           of Node.js, Express, and Cloudinary for efficient image upload management.</p>
    </div>
</div>